@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh; 
}

html {
  scroll-snap-type: y proximity;
    scroll-behavior: smooth;

}

section.snap {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  scroll-margin-top: 88px; 
}


@media (min-width: 768px) {
  html {
    scroll-snap-type: y proximity; 
  }
  section.snap {
    scroll-snap-align: start;
    scroll-margin-top: 88px; 
  }
}



